@import "tailwindcss";

.scrollbar {
  scrollbar-width: thin;          
  scrollbar-color: #888 transparent; 
}

::-webkit-scrollbar-track {
  background: transparent;
}
  
::-webkit-scrollbar-thumb {
  background: #888;        
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414141;      
}